h2 {
    font-size: 3em;
    
}

ul {
    list-style-image: url(./Images/bullet.gif);
    
}

p{
    text-align: justify;
    font-size: 1.5em;
}


body
{
    background-color:rgb(106, 126, 170) ; 
  
}

a:link{
    color : slateblue;
}

a:visited{
    color : green;
}

a:hover{
    color : red ;
}

a:active{
    color: orange;
}